@charset "utf-8";

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 99.7vh;
    width: 1024px;
    margin: 0 auto;
}

.market-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    background-color: #fffff0;
    padding: 3px;
    border-bottom: 3px solid black;
}

#cn {
    height: calc(100% - 40px);
    width: 100%;
    border-radius: 10px;
    background-color: #fffff0;
    padding: 5px;
}

#text_box {
    width: 100px;
}

@media screen and (max-width: 767px) {
    /*under iPad*/

    body {
        margin: 0;
        padding: 0;
        height: 98.5vh;
        width: 100%;
    }

    .wrapper {
        height: 99.7vh;
        width: 100%;
        margin: 0 auto;
    }

    #cn {
        height: 90%;
        width: 100%;
        border-radius: 10px;
        background-color: #fffff0;
        padding: 5px;
    }
}